<div class="album">
  <div class="media">
    <span class="release-date">{{monthName}} {{year}}</span>
    <img [src]="saveAlbumImageUrl" [alt]="coverImageAltText">
  </div>
  <div class="stream-player">
    <a [href]="safeAlbumPlayerUrl" target="_blank">
      <img src="assets/images/temp/spotify-dragons-son.png" style="border-radius:12px; height: 380px; width: 100%; margin-top: 30px" />
    </a>
    <!-- <iframe style="border-radius:12px" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy" width="100%" height="380" [src]="safeAlbumPlayerUrl"></iframe> -->
  </div>
</div>
