@import '/src/variables.scss';

div.container {
  background-image: url(../../../assets/images/home-background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2rem;
  height: 20%;


  h1 {
    font-family: 'Lexend Mega';
    font-size: 4rem;
  }

  h1, p {
    color: $primary-text-color;
    text-shadow: 5px 3px 10px #00000080;
  }

  p {
    font-family: 'Lexend Mega';
    font-style: italic;
    font-size: 1.5rem;
    color: $secondary-text-color;
  }
}

// Very small sizes phone in portrait orientation
@media screen and (max-width: 373px) and (orientation: portrait) {
  .title h1 {
    font-size: 1.6rem;
  }

  .title p {
    font-size: 0.9rem;
  }
}

// Small phones in portrait orientation
@media screen and (min-width: 374px) and (max-width: 575px) and (orientation: portrait) {
  .title h1 {
    font-size: 2.3rem;
  }

  .title p {
    font-size: 1.2rem;
  }
}

// Landscapes phone or table orientation
@media screen and (min-width: 500px) and (max-width: 980px) and (orientation: landscape) {
  .title h1 {
    font-size: 2rem;
  }

  .title p {
    font-size: 1rem;
  }
}



