<section>
  <div class="container">
    <div class="title">
      <h1>
        Mi tío Jimmy
      </h1>
      <p style="visibility: hidden;">
        Mi tío Jimmy es el proyecto en solitario de Aksel Gil. Tras un largo periodo de inactividad, prepara la grabación de su primer disco tras su paso por la banda madrileña Magnética, con la que editó tres álbumes (Maida Vale, Friogenia y Perdita Mundi) y en paralelo con Good Bye Lenin, con quien hasta el momento ha publicado tres sencillos.
      </p>
    </div>
  </div>
</section>

