@import 'src/styles.scss';

a {
  display: flex;
  align-items: center;

  img {
    border-radius: 7px;
    border: 2px solid rgba(255, 255, 255, 0.6392156863);
    width: 80px;
    height: auto;
  }
}

.info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  column-gap: 1rem;


  .info, .id {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    column-gap: 1rem;
    row-gap: 2px;
    width: 50%;
  }

  .name, .label {
    font-size: 0.9rem;
    font-weight: bold;
    color: #ff7f7f;

    @include xs {
      font-size: 0.8rem;
    }

    @include sm {
      font-size: 0.8rem;
    }
  }

  .release-date, .value {
    font-size: 0.7rem;

    @include xs {
      font-size: 0.6rem;
    }

    @include sm {
      font-size: 0.6rem;
    }
  }
}
