<div class="video-row">
  <div class="video-data">
    <a [href]="safeVideoUrl" target="_blank"><img [src]="safeImageUrl"/></a>
    <mat-divider vertical></mat-divider>
    <div class="info">
      <span class="name">{{video.title.toUpperCase()}}</span>
      <span class="release-date">{{monthName}} {{year}}</span>
    </div>
    <mat-divider vertical></mat-divider>
    <div class="id">
      <span class="label">ID</span>
      <span class="value">{{ video.id }}</span>
    </div>
  </div>
  <div class="action-buttons">
    <button mat-button mat-accent color="accent" class="edit">
      <mat-icon>edit</mat-icon>
      Edit
    </button>
    <button mat-button mat-accent color="warn" class="delete">
      <mat-icon>delete</mat-icon>
      Delete
    </button>
  </div>
</div>
