@import 'src/styles.scss';

:host {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.video-row {
  width: 100%;
  min-width: 323px;
  min-height: 50px;
  background: #00000087;
  border-radius: 11px;
  padding: 10px;
  justify-content: space-between;
}

.video-data, .video-row {
  display: flex;
  flex-direction: row;
}

.video-row {
  @include xs {
    flex-direction: column;
  }

  @include sm {
    flex-direction: column;
  }
}

.video-data {
  column-gap: 1rem;
  align-items: center;
}

.info, .id {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  column-gap: 1rem;
  row-gap: 2px;
}

.name, .label {
  font-size: 0.8rem;
  font-weight: bold;
  color: #ff7f7f;
}

.release-date, .value {
  font-size: 0.6rem;
}

.action-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

img {
  border-radius: 7px;
  border: 2px solid rgba(255, 255, 255, 0.6392156863);
  width: 80px;
  height: auto;
}
