@import '/src/variables.scss';

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  mat-toolbar {
    background: transparent;
    color: $primary-link-color;

    .menu-button {
      background-color: $background-overlay-light;
    }
  }
}
