@import 'src/variables.scss';
@import 'src/styles.scss';

.show-card {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  min-height: 150px;
  width: 100%;
  max-width: 35rem;
  padding: 10px;
  background: rgb(0 0 0 / 21%);
  border-radius: 11px;
  justify-content: flex-start;
}

.show-info {
  display: flex;
  flex-direction: row;
}

.tickets {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  padding-left: 1rem;
}

.coming-soon {
  pointer-events: none;
}

a {
  color: $secondary-link-color;
  &:hover {
    color: $secondary-link-hover-color;
  }

  &:focus {
    color: $secondary-link-focus-color;
  }
}

.backoffice-actions {
  display: flex;
  justify-content: space-around;
  padding-top: 0.6rem;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: -10px;
  border-bottom-right-radius: 11px;
  border-bottom-left-radius: 11px;
  background-color: #00000073;
  padding-bottom: 10px;

  button {
    width: 40%;
  }
}




