@import '/src/variables.scss';

.release-main-container div:has(.purchase-cd.actived) {
  color: inherit;
  filter: drop-shadow(2px 4px 6px rgb(147, 190, 147));
}

.release-main-container div:has(.presave.actived) {
  color: inherit;
  filter: drop-shadow(2px 4px 6px rgb(147, 157, 190));
}

a:hover, a:focus {
  color: inherit;
  filter: drop-shadow(2px 4px 6px gray);
}

.release-card {
  display: flex;
  flex-direction: column;
  min-height: 75px;
  height: 200px;
  background: rgba(37, 37, 37, 0.34);
  border-radius: 11px;
  padding: 10px;
  width: 436px;

  @include xs {
    row-gap: 0.6rem;
    height: 190px;
    width: 312px;
  }

  @include sm {
    row-gap: 0.6rem;
    height: 190px;
    width: 323px;
  }

  @include md {
    row-gap: 0.6rem;
    height: 190px;
    width: 346px;
  }

  .release-news-title {
    display: flex;
    font-size: 1.3rem;
    font-weight: bold;
    font-family: 'Stentiga';
    color: #fffdc6;
    margin-bottom: 0.7rem;

    @include xs {
      justify-content: center;
      margin-bottom: 0rem;
    }

    @include sm {
      justify-content: center;
      font-size: 1.2rem;
      margin-bottom: 0rem;
    }
  }

  .release-card-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .release-card-content {
      display: flex;
      flex-direction: row;
      height: 118px;


      .release-cover-container {
        margin-right: 60px;
        flex-grow: 1;
      }

      .release-info-container {
        display: flex;
        flex-grow: 14;
        flex-direction: column;
        align-items: center;
        row-gap: 0.5rem;
        justify-content: center;

        .release-record-title {
          font-size: 1.5rem;
          letter-spacing: 0.2rem;

          @include xs {
            font-size: 1.2rem;
            letter-spacing: 0.2rem;
          }

          @include sm {
            font-size: 1.2rem;
            letter-spacing: 0.2rem;
          }
        }

        .release-record-date {
          @include xs {
            font-size: .7rem;
          }

          @include sm {
            font-size: .7rem;
          }
        }
      }
    }

    .action-buttons {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      margin-top: 1rem;
      width: 436px;
      position: relative;
      right: 10px;
      bottom: -3.5px;
      width: 456px;
      height: 2.6rem;

      @include xs {
        position: relative;
        right: 10px;
        width: 332px;
        height: 33px;
      }

      @include sm {
        position: relative;
        right: 10px;
        width: 343px;
        height: 33px;
      }

      @include md {
        position: relative;
        right: 10px;
        bottom: 16px;
        width: 366px;
        height: 41.5px;
      }

      .presave {
        border-bottom-left-radius: 12px;
      }

      .purchase-cd-enabled {
        border-right: 1px solid rgba(255, 255, 255, 0.2);
      }

      .purchase-cd-disabled {
        border-bottom-right-radius: 12px;
      }

      .purchase-cd {
        border-bottom-right-radius: 12px;
      }

      .presave, .purchase-cd {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 0.5rem;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);

        fa-icon {
          font-size: 1.2rem;
          color: $spotify-color;
        }

        span {
          letter-spacing: 0.2rem;
        }
      }

      .presave.actived {
        color: blue;
      }

      .purchase-cd.actived {
        color: green;
      }
    }
  }
}
