@import '/src/variables.scss';

.live-entry-info {
  display: flex;
  flex-direction: row;
}

div.live-entry {
  cursor: pointer;
  height: 130px;
  width: auto;
  padding: 10px 8px 16px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(155 0 170 / 89%)), to(rgb(21 2 124 / 80%)));
  background-image: -webkit-linear-gradient(top, rgb(155 0 170 / 89%), rgb(21 2 124 / 80%));
  background-image: -moz-linear-gradient(top, rgb(155 0 170 / 89%), rgb(21 2 124 / 80%));
  background-image: -o-linear-gradient(top, rgb(155 0 170 / 89%), rgb(21 2 124 / 80%));
  background-image: linear-gradient(to bottom, rgb(155 0 170 / 89%), rgb(21 2 124 / 80%));
  margin: 8px;
  border-radius: 10px;
  border: 3px solid #ab9cad;
  display: flex;
  justify-content: center;
  color: white;

  &.expanded {
    display: flex;
    flex-direction: column;
    background-color: #1c225ec2;
    justify-content: flex-start;
  }
}

div.live-entry-info {
  min-height: 130px;
  padding: 0;
  width: 88px;
  border-radius: 11px;
  transition: width 1s;
  overflow:hidden;

  @include xs {
    width: 76px;
  }

  @include sm {
    width: 76px;
  }
}

div.live-entry-info.expanded {
  width: 300px;
}
