@import '/src/variables.scss';

.section-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  background-size: cover;
  margin-bottom: 6vh;
  margin-top: -110px;

  .section-name {
    padding-top: 2rem;
    font-size: 3rem;
    font-family: "PaytoneOne Regular";
    text-shadow: 3px 3px 12px rgb(0 0 0 / 70%);
  }
}

.not-panoramic-picture {
  background-position: center;
}

.section-body {
  display: flex;
  flex-direction: column;
  text-align: justify;
  margin: 4vh 4vw;
  background-color: $primary-background-color;
  color: $secondary-text-color;
  font-size: 1rem;
}

@media screen and (min-width: 300px) and (max-width: 576px){
  .section-header {
    .section-name {
      padding-top: 3rem;
      font-size: 2.4rem;
    }
  }
}

