@import '/src/variables.scss';

.section-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  background-size: cover;
  margin-bottom: 6vh;
  margin-top: -110px;

  @include xs {
    background-image: url(../../../assets/images/home-bg-360.jpg);
  }

  @include sm {
    background-image: url(../../../assets/images/home-bg-680.jpg);
  }

  @include md {
    background-image: url(../../../assets/images/home-bg-768.jpg);
  }

  @include lg {
    background-image: url(../../../assets/images/home-bg-1160.jpg);
  }

  @include xls {
    background-image: url(../../../assets/images/home-bg-1560.jpg);
  }

  @include xl {
    background-image: url(../../../assets/images/home-bg-2048.jpg);
  }

  @include xxl {
    background-image: url(../../../assets/images/home-bg.jpg);
  }

  .section-name {
    padding-top: 2rem;
    font-size: 3rem;
    font-family: "PaytoneOne Regular";
    text-shadow: 3px 3px 12px rgb(0 0 0 / 70%);
  }
}

.not-panoramic-picture {
  background-position: center;
}

.section-body {
  display: flex;
  flex-direction: column;
  margin: 4vh 4vw;
  background-color: $primary-background-color;
  color: $secondary-text-color;
  font-size: 1rem;
}

@media screen and (min-width: 300px) and (max-width: 576px){
  .section-header {
    .section-name {
      padding-top: 3rem;
      font-size: 2.4rem;
    }
  }
}

// Very small sizes phone in portrait orientation
@media screen and (max-width: 373px) and (orientation: landscape) {
  .section-header {
    height: 45vh !important;
  }
}

// Small phones in portrait orientation
@media screen and (min-width: 374px) and (max-width: 700px) and (orientation: landscape) {
  .section-header {
    height: 45vh !important;
  }
}

