<article>
  <div class="group-container">
    <header>
      <div class="group-title">
        <h2>{{bandDiscography?.bandName}}</h2>
      </div>
    </header>
    <ng-container *ngFor="let album of bandDiscography?.albums; let i = index; trackBy: trackFn">
      <app-bandcamp-album-player
        *ngIf="(!album.artistPlaylist && album.streamingService === 'BANDCAMP')"
        [album]="album"
      ></app-bandcamp-album-player>
      <app-spotify-artist-player
        *ngIf="(album.artistPlaylist && album.streamingService === 'SPOTIFY')"
        [album]="album"
      ></app-spotify-artist-player>
      <app-spotify-album-player
        *ngIf="(!album.artistPlaylist && album.streamingService === 'SPOTIFY')"
        [album]="album"
      ></app-spotify-album-player>
    </ng-container>
  </div>
</article>
