@import 'src/variables.scss';

a {
  width: 100px !important;
}

.language-button {
  display: flex;
  align-items: center;
  background-color: $background-overlay-light;
  border-radius: 6px;
  padding: 4px 4px 4px 9px;

  mat-icon {
    border-radius: 0;
  }
  &:hover {
    color:$primary-link-hover-color;
  }
}


