@import '/src/variables.scss';

footer {
  .social-icons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    a {
      margin: 1rem 0.5rem 0.5rem;
      font-size: 2rem;
      color: $secondary-link-color;

      &.faSpotify:focus {
        color: $spotify-color !important;
        filter: brightness(60%);
      }

      &.faTwitter:focus {
        color: $twitter-color !important;
        filter: brightness(60%);
      }

      &.faBandcamp:focus {
        color: $bandcamp-color !important;
        filter: brightness(60%);
      }

      &.faFacebook:focus {
        color: $facebook-color !important;
        filter: brightness(60%);
      }

      &.faInstagram:focus {
        color: $instagram-color !important;
        filter: brightness(60%);
      }

      &.faYoutube:focus {
        color: $youtube-color  !important;
        filter: brightness(60%);
      }

      &.faSpotify:hover {
        color: $spotify-color !important;
      }

      &.faTwitter:hover {
        color: $twitter-color !important;
      }

      &.faBandcamp:hover {
        color: $bandcamp-color !important;
      }

      &.faFacebook:hover {
        color: $facebook-color !important;
      }

      &.faInstagram:hover {
        color: $instagram-color !important;
      }

      &.faYoutube:hover {
        color: $youtube-color !important;
      }

      &.faSoundcloud:hover {
        color: $soundcloud-color !important;
      }
    }
  }

  .legal-and-royalties {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .copyright, .web-maker, .legal-advisories {
      display: inline-flex;
      flex-wrap: nowrap;
      align-items: center;
      margin-top: 8px !important;

      a, span {
        font-size: 0.6rem !important;
      }

      a {
        color: $secondary-link-color;
        &:hover {
          color: $secondary-link-hover-color;
        }

        &:focus {
          color: $secondary-link-focus-color;
        }
      }
    }

    .copyright::after, .legal-advisories::after {
      content: '|';
      margin: 4px;
    }
  }
}
