<footer>
  <div class="social-icons">
    <a
      *ngFor="let socialNetwork of workinSocialNetworks"
      [href]="socialNetwork.link"
      [className]="socialNetwork.class"
      target="_blank"
      rel="noopener noreferrer"
      (click)="onSocialNetworkClick(socialNetwork.class)"
      >
      <fa-icon [icon]="socialNetwork.icon"></fa-icon>
    </a>
  </div>
  <div class="legal-and-royalties">
    <div class="copyright">
      <span>© Mi tío Jimmy 2023</span>
    </div>
    <!-- <div class="legal-advisories">
      <a [routerLink]="['/legal-advisories']">Avisos legales</a>
    </div> -->
    <div class="web-maker">
      <a href="https://github.com/arensis" target="_blank" rel="noopener noreferrer">Web by Alfonso Madrid</a>
    </div>
  </div>
</footer>

