<div class="container">
  <app-section [sectionName]="'shows'">
    <h1>Próximos conciertos</h1>
    <ul>
      <li *ngIf="newLivesCount === 0" class="no-shows-availables-li">
        <div class="no-shows-availables">
          No hay conciertos a la vista
        </div>
      </li>
      <li *ngFor="let newLiveEntryYear of newLiveEntryYears; let i = index; trackBy: trackFn">
        <h2>{{newLiveEntryYear}}</h2>
        <ul>
          <li *ngFor="let month of newLiveEntriesGrouped[newLiveEntryYear].months; let i = index; trackBy: trackFn">
            <h3>
              <mat-icon>calendar_month</mat-icon>
              {{translateMonth(month)}}
            </h3>
            <ul class="live-entries-backoffice">
              <li
                class="live-entry-backoffice"
                *ngFor="let newLiveEntry of newLiveEntriesGrouped[newLiveEntryYear][month]; let i = index; trackBy: trackFn"
              >
                <app-live-entry
                  [liveEntry]="newLiveEntry"
                ></app-live-entry>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    <h1>Conciertos anteriores</h1>
    <ul>
      <li *ngFor="let olderLiveEntryYear of olderLiveEntryYears; let i = index; trackBy: trackFn">
        <h2>{{olderLiveEntryYear}}</h2>
        <ul>
          <li *ngFor="let month of olderLiveEntriesGrouped[olderLiveEntryYear].months; let i = index; trackBy: trackFn">
            <h3>
              <mat-icon>calendar_month</mat-icon>
              {{translateMonth(month)}}
            </h3>
            <ul class="live-entries-backoffice">
              <li
                class="live-entry-backoffice"
                *ngFor="let olderLiveEntry of olderLiveEntriesGrouped[olderLiveEntryYear][month]; let i = index; trackBy: trackFn"
              >
                <app-live-entry
                  [liveEntry]="olderLiveEntry"
                ></app-live-entry>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </app-section>
</div>
