<div class="calendar-item">
  <app-live-date
    [date]="liveEntry.date"
  ></app-live-date>
  <div class="show-details-container">
    <div class="show-details">
      <div class="basic-info">
        <div class="location">
          <mat-icon>location_on</mat-icon>
          <div class="place-info">
            <span class="city">{{liveEntry.city.toUpperCase()}}, {{liveEntry.province.toUpperCase()}}</span>
            <span class="live-hall">SALA {{liveEntry.concertHall.toUpperCase()}}</span>
          </div>
        </div>
        <div class="guest-artist">
          <i>+ DAVILE MATELLÁN</i>
        </div>
        <div class="show-time">
          <mat-icon>access_time</mat-icon>
          <span>
            {{liveEntry.time.hours}}:{{liveEntry.time.minutes}}
          </span>
        </div>
        <div class="tickets">
          <a
            *ngIf="(liveEntry.ticketsLink || '').trim() !== ''"
            mat-raised-button
            color="accent"
            [href]="liveEntry.ticketsLink"
            target="_blank"
          >
            <mat-icon aria-hidden="false" fontIcon="shopping_cart"></mat-icon>
            COMPRAR ENTRADAS
          </a>
          <button
            *ngIf="(liveEntry.ticketsLink || '').trim() === ''"
            mat-button
            color="accent"
            class="coming-soon"
          >
            <mat-icon aria-hidden="false" fontIcon="shopping_cart"></mat-icon>
            PRÓXIMAMENTE
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

