<div class="show-card">
  <div class="show-info">
    <app-live-date
      [date]="liveEntry.date"
    ></app-live-date>
    <app-live-info
      [liveEntry]="liveEntry"
    ></app-live-info>
  </div>
  <div class="tickets">
    <a
      *ngIf="(liveEntry.concertHall.ticketsLink || '').trim() !== '' && isNewShow "
      mat-raised-button
      color="accent"
      [href]="liveEntry.concertHall.ticketsLink"
      target="_blank"
      (click)="onTicketClick(liveEntry.concertHall.name, liveEntry.date, true)"
    >
      <mat-icon aria-hidden="false" fontIcon="shopping_cart"></mat-icon>
      {{ ('live-entry.tickets-button.buy' | translate).toUpperCase() }}
    </a>
    <a
      *ngIf="(liveEntry.concertHall.ticketsLink || '').trim() === '' && isNewShow && !liveEntry.freeEntry"
      mat-button
      color="accent"
      class="coming-soon"
      (click)="onTicketClick(liveEntry.concertHall.name, liveEntry.date, false)"
    >
      <mat-icon aria-hidden="false" fontIcon="shopping_cart"></mat-icon>
      {{ ('live-entry.tickets-button.commin-soon' | translate).toUpperCase() }}
    </a>
    <a
      *ngIf="liveEntry.freeEntry"
      mat-button
      color="accent"
      class="coming-soon"
      (click)="onTicketClick(liveEntry.concertHall.name, liveEntry.date, false)"
    >
      <mat-icon aria-hidden="false" fontIcon="shopping_cart"></mat-icon>
      {{ ('live-entry.tickets-button.free-entry' | translate).toUpperCase() }}
    </a>
    <a
      *ngIf="!isNewShow && containsShowChronicle"
      mat-raised-button
      [class]="chronicleStyle.class"
      [href]="liveEntry.chronicle.url"
      target="_blank"
    >
      <div class="label">
        <fa-icon [icon]="chronicleStyle.icon"></fa-icon>
        <span>{{ liveEntry.chronicle.title.toUpperCase() }}</span>
      </div>
    </a>
  </div>
</div>


