@import 'src/variables.scss';

.show-card {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  min-height: 150px;
  width: 100%;
  max-width: 35rem;
  background: $background-overlay-dark;
  border-radius: 11px;
  padding: 10px;
  justify-content: flex-start;
}

.show-info {
  display: flex;
  flex-direction: row;
}

.tickets {
  display: flex;
  flex-direction: column;
  margin: 0.7rem 0 0.3rem 0;
}

.coming-soon {
  pointer-events: none;
}

.canceled {
  background-color: $background-overlay-light;
  color: $primary-link-focus-color !important;
  &:hover {
    color: $live-date-number-color !important;
  }
}

a {
  color: $secondary-link-color;
  &:hover {
    color: $primary-link-color;
  }

  &:focus {
    color: $secondary-link-focus-color;
  }
}

.faTwitter {
  color: $secondary-link-color !important;
  background-color: $twitter-color !important;
  &:hover {
    color: $twitter-hover !important;
  }

  .label {
    display: flex !important;
  }

  fa-icon {
    font-size: 1.2rem;
    margin-right: 8px;
  }
}



.faFacebook {
  color: $secondary-link-color !important;
  background-color: $facebook-color !important;
  &:hover {
    color: $facebook-hover !important;
  }

  .label {
    display: flex !important;
  }

  fa-icon {
    font-size: 1.2rem;
    margin-right: 8px;
  }
}

.faRadio {
  color: $secondary-link-color !important;
  background-color: $media-chronicle-radio !important;
  &:hover {
    color: $media-chronicle-radio-hover !important;
  }

  .label {
    display: flex !important;
  }

  fa-icon {
    font-size: 1.2rem;
    margin-right: 8px;
  }
}

.faFeeds {
  color: $secondary-link-color !important;
  background-color: $primary-link-hover-color !important;
  &:hover {
    color: $primary-link-focus-color !important;
  }

  .label {
    display: flex !important;
  }

  fa-icon {
    font-size: 1.2rem;
    margin-right: 8px;
  }
}




