@import 'src/variables.scss';

.show-card {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  min-height: 150px;
  width: 100%;
  max-width: 35rem;
  background: #00000021;
  border-radius: 11px;
  padding: 10px;
  justify-content: flex-start;
}

.show-info {
  display: flex;
  flex-direction: row;
}

.tickets {
  display: flex;
  flex-direction: column;
  margin: 0.7rem 0 0.3rem 0;
}

.coming-soon {
  pointer-events: none;
}

a {
  color: $secondary-link-color;
  &:hover {
    color: $secondary-link-hover-color;
  }

  &:focus {
    color: $secondary-link-focus-color;
  }
}




