@use '@angular/material' as mat;
@include mat.core();

$primary: mat.define-palette(mat.$purple-palette, 600);
$accent: mat.define-palette(mat.$green-palette, A400);
$warn: mat.define-palette(mat.$red-palette, 900);

$backoffice-theme: mat.define-dark-theme((
  color: (
    theme-type: light,
    primary: $primary,
    accent: $accent,
    warn: $warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

@include mat.all-component-themes($backoffice-theme);

@import './variables.scss';

@font-face {
  font-family: "Lexend Mega";
  src: local("LexendMega"), url(./assets/fonts/LexendMega.ttf) format("truetype");
}

@font-face {
  font-family: "Monoton Regular";
  src: local("MonotonRegular"), url(./assets/fonts/Monoton-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "PaytoneOne Regular";
  src: local("PaytoneOne-Regular"), url(./assets/fonts/PaytoneOne-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Audiowide Regular";
  src: local("Audiowide-Regular"), url(./assets/fonts/Audiowide-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "RussoOne Regular";
  src: local("RussoOne-Regular"), url(./assets/fonts/RussoOne-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Stentiga";
  src: local("Stentiga"), url(./assets/fonts/stentiga.ttf) format("truetype");
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$background-color-top: #4B4B7E;
$background-color-bottom: #f690e1;

body {
  background-color: $background-color-top;
  background-image: -webkit-gradient(linear, left top, left bottom, from($background-color-top), to($background-color-bottom));
  background-image: -webkit-linear-gradient(top,$background-color-top, $background-color-bottom);
  background-image: -moz-linear-gradient(top, $background-color-top, $background-color-bottom);
  background-image: -o-linear-gradient(top, $background-color-top, $background-color-bottom);
  background-image: linear-gradient(to bottom, $background-color-top, $background-color-bottom);
  height: 100%;
}

header {
  position: relative;
  z-index: 10;
}

main {
  position: relative;
  z-index: 1;
  top: -65px;

  div.container {
    padding-top: 65px;
    margin-bottom: -65px;
    min-height: 75vh;

    .section-body {
      margin: 4vh 4vw;
    }
  }
}

.mat-divider {
  border-top-color: rgb(227 227 227);
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1.5rem;
  border-top: 8px solid $border-color;
}

//Material dialog
.cdk-overlay-pane {
  left: 10%;
}
.mat-mdc-dialog-container .mdc-dialog__surface {
  background-image: linear-gradient(to bottom, #4b4b7e, #f690e1);
}
.mat-h2, .mat-headline-6, .mat-typography .mat-h2, .mat-typography .mat-headline-6, .mat-typography h2 {
  margin: 16px 0 8px;
}

//Links
a, button, button.mat-icon-button {
  color: $primary-link-color;

  &:hover {
    color: $primary-link-hover-color;
  }

  &:focus {
    color: $primary-link-focus-color;
  }
  text-decoration: none;
}

a.secondary, button.secondary, button.mat-icon-button.secondary {
  color: $secondary-link-color;

  &:hover {
    color: $secondary-link-hover-color;
  }

  &:focus {
    color: $secondary-link-focus-color;
  }
  text-decoration: none;
}

.button-disabled {
  pointer-events: none;
}

h2 {
  font-size: 2rem !important;
  color: $subtitle-primary-background;
}

// Sidenav
.mat-drawer-container {
  height: 100%;

  background-color: $primary-background-color !important;

  .mat-drawer {
    background-color: $primary-background-color !important;

    .mat-drawer-inner-container {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      button {
        color: $primary-link-color !important;
        &:hover {
          color: $primary-link-hover-color !important;
        }

        position: relative;
        left: 83%;
        font-size: 2rem;
      }

      ul.sections {
        height: auto;
      }
    }
  }
}

// Landscapes phone or table orientation
@media screen and (min-width: 500px) and (max-width: 980px) and (orientation: landscape) {
  footer {
    .social-icons a {
      font-size: 1.5rem !important;

    }
  }
}
