@import './variables.scss';

@font-face {
  font-family: "Lexend Mega";
  src: local("LexendMega"), url(./assets/fonts/LexendMega.ttf) format("truetype");
}

@font-face {
  font-family: "Monoton Regular";
  src: local("MonotonRegular"), url(./assets/fonts/Monoton-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "PaytoneOne Regular";
  src: local("PaytoneOne-Regular"), url(./assets/fonts/PaytoneOne-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Audiowide Regular";
  src: local("Audiowide-Regular"), url(./assets/fonts/Audiowide-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "RussoOne Regular";
  src: local("RussoOne-Regular"), url(./assets/fonts/RussoOne-Regular.ttf) format("truetype");
}

html, body { height: 100%; }
body {
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $primary-background-color !important;
}

header {
  position: relative;
  z-index: 10;
}

main {
  position: relative;
  z-index: 1;
  top: -65px;

  div.container {
    padding-top: 65px;
    margin-bottom: -65px;
    min-height: 75vh;

    .section-body {
      margin: 4vh 4vw;
    }
  }
}

.app-container {
  min-height: 80%;
  padding-bottom: 36px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1.5rem;
  border-top: 8px solid $border-color;
  margin-top: -36px; // footer in index
}

// footer component styles
footer {
  background-color: $primary-background-color !important;
  color: $secondary-text-color;

  .social-icons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    a {
      margin: 1rem 0.5rem 0.5rem;
       svg {
        filter: $secondary-link-filter;
        width: 2rem;
       }

      &.faSpotify:focus {
        svg {
          filter: $spotify-filter-dark !important;
        }
      }

      &.faTwitter:focus {
        svg {
          filter: $twitter-filter-dark !important;
        }
      }

      &.faBandcamp:focus {
        svg {
          filter: $bandcamp-filter-dark !important;
        }
      }

      &.faFacebook:focus {
        svg {
          filter: $facebook-filter-dark !important;
        }
      }

      &.faInstagram:focus {
        svg {
          filter: $instagram-filter-dark !important;
        }
      }

      &.faYoutube:focus {
        svg {
          filter: $youtube-filter-dark !important;
        }
      }

      &.faSpotify:hover {
        svg {
          filter: $spotify-filter !important;
        }
      }

      &.faTwitter:hover {
        svg {
          filter: $twitter-filter !important;
        }
      }

      &.faBandcamp:hover {
        svg {
          filter: $bandcamp-filter !important;
        }
      }

      &.faFacebook:hover {
        svg {
          filter: $facebook-filter !important;
        }
      }

      &.faInstagram:hover {
        svg {
          filter: $instagram-filter !important;
        }
      }

      &.faYoutube:hover {
        svg {
          filter: $youtube-filter !important;
        }
      }

      &.faSoundcloud:hover {
        svg {
          filter: $soundcloud-filter !important;
        }
      }
    }
  }

  .legal-and-royalties {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;


    .copyright, .web-maker, .legal-advisories {
      display: inline-flex;
      flex-wrap: nowrap;
      align-items: center;
      margin-top: 8px !important;

      a, span {
        font-size: 0.6rem !important;
      }

      a {
        color: $secondary-link-color;
        &:hover {
          color: $secondary-link-hover-color;
        }

        &:focus {
          color: $secondary-link-focus-color;
        }
      }
    }

    .copyright::after, .legal-advisories::after {
      content: '|';
      margin: 4px;
    }
  }
}

//Links
a, button, button.mat-icon-button {
  color: $primary-link-color;

  &:hover {
    color: $primary-link-hover-color;
  }

  &:focus {
    color: $primary-link-focus-color;
  }
  text-decoration: none;
}

a.secondary, button.secondary, button.mat-icon-button.secondary {
  color: $secondary-link-color;

  &:hover {
    color: $secondary-link-hover-color;
  }

  &:focus {
    color: $secondary-link-focus-color;
  }
  text-decoration: none;
}

.button-disabled {
  pointer-events: none;
}

h2 {
  font-size: 2rem !important;
  color: $subtitle-primary-background;
}


// Sidenav
.mat-drawer-container {
  // height: 100%; // footer in component
  height: 82%; //footer in index
  position: unset !important; // footer in index
  background-color: $primary-background-color !important;
  mat-drawer-content {
    display: contents; // footer in index
  }
  .mat-drawer {
    background-color: $secondary-background-color !important;
  }
}

// Landscapes phone or table orientation
@media screen and (min-width: 500px) and (max-width: 980px) and (orientation: landscape) {
  footer {
    .social-icons a {
      font-size: 1.5rem !important;

    }
  }
}

@media screen and (max-width: 800px) {
  .mat-drawer-container .mat-drawer {
    width: 80%;
  }
}

@media screen and (min-width: 801px) {
  .mat-drawer-container .mat-drawer {
    width: 70%;
  }
}

@media screen and (min-width: 1000px) {
  .mat-drawer-container .mat-drawer {
    width: 60%;
  }
}

@media screen and (min-width: 1400px) {
  .mat-drawer-container .mat-drawer {
    width: 50%;
  }
}

@media screen and (min-width: 1900px) {
  .mat-drawer-container .mat-drawer {
    width: 40%;
  }
}

.robot-sections {
 display: none;
}
