$instagram-color: #ca00a3;
$facebook-color: #1877F2;
$bandcamp-color: #477987;
$twitter-color: rgb(29, 155, 240);
$spotify-color: #1ED760;
$youtube-color: #FF0000;

//Style guide Alfonso
// $primary-link-hover-color: #800081;
// $primary-link-color: #090909b8;
// $primary-link-focus-color: #4b014b;
// $secondary-link-hover-color:  $primary-link-hover-color;
// $secondary-link-color: $primary-link-color;
// $secondary-link-focus-color: $primary-link-focus-color;
// $primary-background-color: #fffff1;
// $secondary-background-color: $primary-background-color;
// $border-color: $primary-link-hover-color;
// $primary-text-color: $primary-link-color;
// $secondary-text-color: $primary-link-color;
// $secondary-text-color: rgb(109, 109, 109);
// $subtitle-primary-background: #97989d;

//Style guide Hostalia
$primary-link-color: #4B4B7E;
$primary-link-hover-color: #FE4C72;
$primary-link-focus-color: #521a26;
$secondary-link-color: #fff;
$secondary-link-hover-color: $primary-link-hover-color;
$secondary-link-focus-color: $primary-link-focus-color;
$primary-background-color: $primary-link-color;
$secondary-background-color: #fff;
$border-color: #FE4C72;
$primary-text-color: $primary-link-color;
$secondary-text-color: $secondary-background-color;
$subtitle-primary-background: #afb8f4;
