<div class="container">
  <app-section-bio>
    <p>
      Mi tío Jimmy es el proyecto en solitario de Aksel Gil.
    </p>
    <p>
      Tras un largo periodo de inactividad, prepara la grabación de su primer disco tras su paso por
      la banda madrileña Magnética, con la que editó tres álbumes (Maida Vale, Friogenia y Perdita Mundi)
      y en paralelo con Good Bye Lenin, con quien hasta el momento ha publicado tres sencillos.
    </p>
    <p>
      Se espera que el nuevo disco esté preparado a finales del 2023 y contará con la producción de Carly Yeah.
      Hasta entonces y mientras se ultiman todos los detalles se podrá disfrutar de un adelanto en próximos
      conciertos acústicos y a través de las redes sociales.
    </p>
  </app-section-bio>
</div>
