<div class="container">
  <app-section
    [imageUrl]="'assets/images/trigomaduro.jpeg'"
    [sectionName]="'Biografía'"
    [isPanoramic]="false"
  >
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sem augue, blandit accumsan est non, tempor auctor erat. Nulla facilisis libero nec ultrices pulvinar. Vivamus tincidunt nisl a purus gravida gravida. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam semper commodo tellus. Pellentesque nisl mauris, dignissim sit amet congue eget, porttitor eget ex. Duis sodales, justo vehicula aliquet convallis, risus metus pretium eros, in gravida velit metus eget neque.
    </p>
    <p>
      Donec a ornare ligula, ac gravida lorem. Praesent viverra risus ut tortor fringilla, in mollis elit ullamcorper. Nulla lobortis libero ut lectus gravida, vel rhoncus mi maximus. Cras et rhoncus diam. Mauris cursus consectetur quam, eget commodo ex scelerisque quis. Aenean vitae nibh massa. Suspendisse ac nunc a mauris feugiat viverra. Nam finibus enim quis urna molestie, sit amet laoreet tortor finibus. Etiam in posuere enim, quis tincidunt orci. Cras elementum tellus vel luctus ultrices. Nunc tincidunt luctus suscipit.
    </p>
    <p>
      Maecenas tempor elementum urna, vel pretium orci ultrices eu. Quisque fermentum volutpat lorem, ac volutpat felis cursus eget. Cras lacinia metus ut neque elementum, nec elementum risus lobortis. Morbi non risus nec dui eleifend dictum. Donec a dolor a mi placerat rhoncus in ac diam. Nunc id eros commodo, auctor erat at, semper dui. Sed consequat fringilla velit ultricies posuere. Vivamus non orci sed ex vehicula porttitor id non risus.
    </p>
    <p>
      Nulla ultrices, purus vel vestibulum accumsan, orci turpis auctor felis, vitae scelerisque tortor enim id felis. Fusce vulputate est vel imperdiet mollis. Praesent fermentum dui in tellus bibendum condimentum. Sed molestie semper tortor, quis commodo eros feugiat id. Pellentesque ac iaculis nisi. Fusce venenatis est sapien. Aenean molestie dolor lacus, fermentum aliquet nisi cursus eu. Fusce sagittis malesuada neque eget pellentesque.
    </p>
    <p>
      Cras sodales arcu imperdiet, sodales elit id, placerat justo. Etiam facilisis nibh felis, id elementum nunc venenatis a. Cras luctus ante euismod, tempus ligula et, placerat velit. Aliquam interdum pellentesque sapien vel convallis. Etiam interdum purus a porttitor venenatis. Vestibulum quis nunc tellus. Proin lectus orci, volutpat et augue at, tempor porttitor quam. Pellentesque in eros tortor.
    </p>
  </app-section>
</div>
