@import 'src/variables.scss';

.guest-artist {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-weight: bold;
  padding-left: 1.5rem;

  .more {
    color: $primary-link-color;
    margin-left: 1rem;
  }

  i {
    margin-right: 0.5rem;
  }

  a {
    font-style: italic;
  }
}

ul {
  margin-block-start: 0;
  margin-block-end: 0.5rem;
}

a {
  color: $primary-link-color;
  &:hover {
    color: $primary-link-hover-color;
  }

  &:focus {
    color: $primary-link-focus-color;
  }
}

@media screen and (max-width: 605px) {
  .guest-artist {
    font-size: 0.7rem !important;
    text-align: start !important;
  }
}
