<div class="guest-artist">
  <span class="more">
    {{ ('live-entry.guest-artist' | translate ).toUpperCase() }}:
  </span>
  <ul>
    <ng-container *ngFor="let artist of guestArtists; let i = index; trackBy: trackByFn">
      <li>
        <a
          [ngClass]="{'button-disabled': (artist.url || '').trim() === ''}"
          class="secondary"
          [href]="artist.url"
          target="_blank"
        >
          {{artist.name.toUpperCase()}}
        </a>
      </li>
    </ng-container>
  </ul>
</div>
